.btn {
  font-size: 1.4rem;

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;

    cursor: pointer;
    border: none;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
  }

  &:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            box-shadow: .5rem 1rem 2rem rgba($color-black, .2);

    &::after {
      -webkit-transform: scale(1.4) scaleY(1.6);
              transform: scale(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, .2);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark-1;
    -webkit-box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            box-shadow: .5rem 1rem 2rem rgba($color-black, .2);

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    font-size: $default-font-size;
    font-weight: 500;
    -webkit-box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
            box-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    -webkit-backface-visibility: hidden; //rozwiazuje buga z ruszajacym sie buttonem

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    -webkit-animation: moveInBottom 1.5s .2s;
            animation: moveInBottom 1.5s .2s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; /* LIFEHACK: rozwiązanie dla pojawiającego się buttona przed rozpoczęciem animacji. Opóźnienie animacji rozpoczynie się przed jej wyświetleniem */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    display: inline-block;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 5px;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    -webkit-box-shadow: 0 1rem 2rem rgba($color-black, .1);
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
  }

  &:active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 .5rem 1rem rgba($color-black, .1);
            box-shadow: 0 .5rem 1rem rgba($color-black, .1);
  }
}
