.form {

  fieldset {
    border: none;
  }

  &__group {

    -webkit-transform: translateZ(0); //dodanie rozwiązuje buga z ruszającymi sie elementami formularza

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    @include responsive(tab-port) {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__input--text {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 2px;
    border-bottom: 3px solid transparent;
    width: 75%;
    //height: 100%;
    display: block;
    cursor: pointer;
    -webkit-backface-visibility: hidden; //dodanie rozwiązuje buga z powiekszającym sie inputem
            backface-visibility: hidden; //dodanie rozwiązuje buga z powiekszającym sie inputem

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      -webkit-box-shadow: 0 1rem 1rem rgba($color-black, .1);
              box-shadow: 0 1rem 1rem rgba($color-black, .1)
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &:placeholder-shown+.form__label--text {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-4rem);
              transform: translateY(-4rem);
    }

    @include responsive(tab-port) {
          width: 100%;
    }
  }

  &__label--text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition: all .7s;

    // DO SPRAWDZENIA, SHACKING ELEMENTS
    //transition: all .7s;
    //-webkit-transition: all .7s;
    //-webkit-transition-timing-function: ease-in;
    //        transition-timing-function: ease-in;

    @include responsive(tab-port) {
      margin-top: .2rem;
    }
  }

  &__group-radio {
    width: 40%;
    display: inline-block;

    @include responsive(tab-port) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  &__label--radio {
    font-size: $default-font-size;
    cursor: pointer;
    padding-left: 4.5rem;
    position: relative;
  }

  &__input--radio {
    display: none;
  }

  &__button-radio {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.2rem;
    left: .1rem;

    &::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: $color-primary;
      display: block;
      @include x-y-centered;
      opacity: 0;
    }
  }

  &__input--radio:checked ~ &__label--radio &__button-radio::after {
    opacity: 1;
  }
}
