.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 3rem;
  margin-top: -20vh;

  @include responsive(ipad-pro) {
    margin-top: -10vh;
  }

  @include responsive(tab-port) {
    padding: 25rem 0rem 20rem;
    margin-top: -20vh;
  }

  @include responsive(ipad) {
    margin-top: -15vh;
  }
}

.section-features {
  padding: 20rem 3rem;
  background-image:
    -webkit-gradient(
      linear,
      left top, right bottom,
      from(rgba($color-primary-light, .8)),
      to(rgba($color-primary-dark, .8))),
    url(../img/nat-4.jpg);
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8)),
    url(../img/nat-4.jpg);
    background-size: cover;
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    margin-top: -7rem;
    //clip-path: polygon(0 calc(25vh - 3rem), 100% 0, 100% 100%, 0 100%);

    & > * {
      -webkit-transform: skewY(6deg);
              transform: skewY(6deg);
    }

    @include responsive(tab-port) {
      padding: 10rem 0;

      .row {
        max-width: 50rem;
        padding: 0 9rem;
      }
    }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 3rem;
  margin-top: -7rem;

  @include responsive(tab-port) {
    padding: 15rem 0 10rem;
  }
}

.section-stories {
  padding: 10rem 0 10rem;
  position: relative;

  @include responsive(tab-port) {
    padding: 5rem 0;
  }
}

.section-booking {
  padding: 15rem 3rem;
  background-image:
    -webkit-gradient(
      linear,
      left top, right bottom,
      from(rgba($color-primary-light, .8)),
      to(rgba($color-primary-dark, .8)));
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, .8),
      rgba($color-primary-dark, .8));

  @include responsive(tab-port) {
    padding: 5rem 0;
  }
}

.book {
  background-image: url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
          box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

  &__form {
    padding: 6rem;
    width: 65%;
    background-color: rgba($color-white, 0.9);
    -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);

    @include responsive(tab-port) {
      width: 100%;
      -webkit-clip-path: none;
              clip-path: none;
    }
  }

  @include responsive(tab-land) {
    width: 100%;
  }
}
